<?xml version="1.0" encoding="utf-8" ?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:installLocation="internalOnly" android:versionCode="96" android:versionName="1.1.27" package="net.openvpn.openvpn" platformBuildVersionCode="26" platformBuildVersionName="8.0.0">
	<uses-sdk android:minSdkVersion="14" android:targetSdkVersion="26" />
	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
	<uses-permission android:name="android.permission.USE_CREDENTIALS" />
	<uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
	<uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
	<uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT" />
	<application android:allowBackup="false" android:icon="@drawable/icon" android:label="@string/app" android:name="net.openvpn.openvpn.OpenVPNApplication" android:theme="@android:style/Theme.Holo.Light">
		<service android:name="net.openvpn.openvpn.OpenVPNService" android:permission="android.permission.BIND_VPN_SERVICE">
			<intent-filter>
				<action android:name="android.net.VpnService" />
			</intent-filter>
		</service>
		<activity android:configChanges="keyboardHidden|orientation" android:launchMode="singleTask" android:name="net.openvpn.openvpn.OpenVPNClient">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>
		<receiver android:name="net.openvpn.openvpn.OpenVPNRebootReceiver">
			<intent-filter>
				<action android:name="android.intent.action.BOOT_COMPLETED" />
			</intent-filter>
		</receiver>
		<activity android:name="net.openvpn.openvpn.OpenVPNAttachmentReceiver">
			<intent-filter android:icon="@drawable/icon" android:label="OpenVPN Profile" android:priority="1">
				<action android:name="android.intent.action.VIEW" />
				<category android:name="android.intent.category.BROWSABLE" />
				<category android:name="android.intent.category.DEFAULT" />
				<data android:host="*" android:mimeType="application/x-openvpn-profile" />
			</intent-filter>
			<intent-filter android:icon="@drawable/icon" android:label="OpenVPN Profile" android:priority="1">
				<action android:name="android.intent.action.VIEW" />
				<category android:name="android.intent.category.BROWSABLE" />
				<category android:name="android.intent.category.DEFAULT" />
				<data android:host="*" android:pathPattern=".*\\.ovpn" />
			</intent-filter>
			<intent-filter android:icon="@drawable/icon" android:label="OpenVPN Profile" android:priority="1">
				<action android:name="android.intent.action.VIEW" />
				<category android:name="android.intent.category.DEFAULT" />
				<data android:host="*" android:pathPattern=".*\\.ovpn" android:scheme="file" />
			</intent-filter>
		</activity>
		<activity android:name="net.openvpn.openvpn.OpenVPNPrefs" />
		<activity android:name="net.openvpn.openvpn.FileDialog" />
		<activity android:name="net.openvpn.openvpn.OpenVPNStats" />
		<activity android:name="net.openvpn.openvpn.OpenVPNLog" />
		<activity android:name="net.openvpn.openvpn.OpenVPNAbout" />
		<activity android:name="net.openvpn.openvpn.OpenVPNImportProfile" />
		<activity android:name="net.openvpn.openvpn.OpenVPNAddProxy" />
		<activity android:name="net.openvpn.openvpn.OpenVPNAddShortcut" />
		<activity android:name="net.openvpn.openvpn.OpenVPNProxyCreds" android:theme="@android:style/Theme.Holo.Dialog" />
		<activity android:name="net.openvpn.openvpn.OpenVPNHelp" />
		<activity android:exported="true" android:name="net.openvpn.openvpn.OpenVPNDisconnect" android:theme="@android:style/Theme.NoDisplay" />
		<meta-data android:name="android.support.VERSION" android:value="26.0.0" />
	</application>
</manifest>

